/* pinterest-masonry.css
   Custom block for Pinterest-style masonry layout, mobile-first
   Reference: .long class from cards
*/

.masonry.block ul {
  columns: 1 !important;
  column-gap: 14px;
  padding:0;
}

.masonry.block ul li {
  display: inline-block;
  width: 100%;
  margin: 0 0 20px;
  border-radius: 8px;
  transition: transform 0.2s;
  position: relative;
  break-inside: avoid;
}

.masonry.block ul li:hover {
  transform: scale(1.02);
}

.masonry.block .cards-card-image img {
  height: auto;
  display: block;
  border-bottom: 1px solid #eee;
  border-radius: 20px;
  object-fit: cover;
}

.masonry.block .cards-card-body :where(h5,h6,h4,p a) {
  margin-top: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.masonry.block .button-carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 5px;
  position: relative;
}

.masonry.block .button-carousel .button-container {
  margin: 0.4rem 0 0;
}

.masonry.block .cards-card-body p:first-of-type {
  margin-top: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
}

.ideas-page .masonry.block .cards-card-body p:nth-of-type(2) {
  margin-top: 0;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  gap: 5px;
  align-items: center;
}

.masonry.block .cards-card-body p:last-of-type img,
.masonry.block .cards-card-body p:last-of-type picture {
  width: 30px;
  height: 30px;
}

.masonry.block .button-carousel .button-container a {
  margin: 0;
  background-color: var(--overlay-background-color);
  color: var(--text-color);
  font-weight: bold;
}

.masonry.block .button-carousel::-webkit-scrollbar {
  display: none;
}

.masonry.block .cards-card-image {
  position: relative;
}

/* Responsive columns for mobile-first */
@media (max-width: 600px) {
  .masonry.block ul {
    columns: 3 !important;
  }
}
@media (max-width: 900px) {
  .masonry.block ul {
    columns: 5 !important;
  }
}


